/* src/gradDynamic.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.table-container {
  max-height: calc(100vh - 100px); /* Adjust based on your header/footer height */
  overflow-y: auto;
  border: 1px solid #ccc; /* Optional: Add border for better visual separation */
}

/* Add some padding to the table header to ensure it sticks to the top */
.table-container table thead th {
  position: sticky;
  top: 0;
  background: white; /* Ensure the header background is solid */
  z-index: 1;
}

.layout {
  display: flex;
  margin:0; 
  padding: 0;
  height: auto; /* Adjust if navbar height is different */
}

.sidebar {
  flex: 0 0 250px; /* Adjust width of the sidebar as needed */
 /* Example background color */
}

.content {
  flex: 1;
 
}

.box {
  height: 100%;
  width: 100%;
}

.gradDynamic {
  position: relative;
}

.gradDynamic:after, .gradDynamic:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: -1;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.gradDynamic:after {
  background: radial-gradient(circle, rgb(255, 255, 255), transparent);
  background-size: 400%;
  animation: colorSpin 30s linear infinite;
}

.gradDynamic:before {
  background-color: rgb(109, 109, 109);
}

@keyframes colorSpin {
  25% { background-position: 0 100%; }
  50% { background-position: 100% 100%; }
  75% { background-position: 100% 0; }
  100% { filter: hue-rotate(360deg); }
}
